{% extends "../HomeTemplates/Base.html" %}
{% block content %}
{% load static %}
{% if user.tipoDeUsuario == "Tutor" %}
<!-- Perfil Tutor -->
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="card card-body">
            <div class="card card-body">
                <img class="img-size-clases" style="width: 50px; height: 50px;" src="../../static/images/user.svg"
                    alt="">
                <p class="card-text">
                    Nombre: {{user.first_name}} {{user.last_name}} <br>
                    Ubicación: {{user.comuna}}</p>
                {% for p in profesion %}
                <p class="card-text">Titulado en: {{p.institucion}} <br>Profesion: {{p.profesion}}<br>
                    {% if anios_pasados > 0 %}
                    Años de experiencia: {{ anios_pasados }}
                    {% endif %}
                </p>
                {% if p.tituloValidado == "Si" %}
                <p class="card-text"><b>Titulo Verificado</b><img
                        style="width: 25px; margin-left: 5px; margin-bottom: 5px;"
                        src="../../static/images/icons8-verify.svg" alt=""></p>
                {% endif %}

                <div class="dropdown">
                    <div class="dots" onclick="toggleDropdown()"></div>
                    <div class="dropdown-content" id="dropdownContent">
                        <a href="../../IniciarSesion/editarPerfil" target="_blank" rel="noopener noreferrer">Editar
                            Perfil</a>
                        <a href="{% url 'change_password' %}" target="_blank" rel="noopener noreferrer">Cambiar
                            contraseña</a>
                    </div>
                </div>
                {% endfor %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Ver
                    descripción</button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Descripcion del tutor</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% for d in descripcion %}
                                <p class="card-text">{{ d.descripcionTutor }}</p>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group mt-3" role="group" aria-label="Basic example">
    <a href="../../Perfil/Perfil/" class="btn btn-primary">Mis clases</a>
    <a href="../../Clases/ClasesAgendadas/" class="btn btn-primary">Clases agendadas</a>
    <a href="#" class="btn btn-primary">Comentarios</a>
    <a href="#" class="btn btn-primary">Solicitudes</a>
</div>
{% if solicitudes %}
<div class="container">
    <div class="row">
        {% for s in solicitudes %}
        {% if s.estadoSolicitud != "Rechazada" %}
        <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <div class="card card-body h-100">
                <b class="card-text">{{ s.estadoSolicitud }}</b>
                <p>{{ s.fecha }}</p>
                <p class="card-text">Estudiante: {{s.idEstudiante.first_name}} {{s.idEstudiante.last_name}}</p>
                <p class="card-text">
                    <b>Clase solicitada:</b> </b> <br>
                    fecha y hora: {{s.idClase.fecha}},{{s.idClase.hora}}<br>
                    Carrera: {{s.idClase.idAsignatura.idCarrera.nombreCarrera}} <br>
                    Asignatura: {{s.idClase.idAsignatura.nombreAsignatura}}<br>
                    Modalidad: {{s.idClase.modalidad}}<br>
                    Tarifa: {{s.idClase.tarifa}}
                </p>
                <div style="width: fit-content; margin-left: auto; margin-right: auto;">
                    {% if s.estadoSolicitud != "Aceptada" %}
                    <a href="../../../Clases/EditarSolicitudA/{{ s.id }}"
                        onclick="return confirm('¿Desea aceptar esta solicitud?');">
                        <i style="color: green; font-size: 30px;" class="bi bi-check-circle-fill"></i>
                    </a>
                    {% endif %}
                    <a href="../../../Clases/EditarSolicitudR/{{ s.id }}"
                        onclick="return confirm('¿Desea rechazar esta solicitud?');">
                        <i style="color: red;font-size: 30px; margin-left: 10px" class="bi bi-x-circle-fill"></i>
                    </a>
                </div>

                {% if user.tipoDeUsuario == "Estudiante" %}

                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}
<div class="alert alert-secondary mt-4" role="alert">
    <strong>No hay solicitudes</strong>
</div>
{% endif %}
<!-- Perfil Estudiante -->
{% else %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="card card-body">
            <div class="card card-body">
                <div class="card-content">
                    <img class="img-size-clases" style="width: 50px; height: 50px;" src="../../static/images/user.svg"
                        alt="">
                    <div class="info">
                        <p class="card-text">
                            Nombre: {{user.first_name}} {{ user.last_name }} <br>
                            Ubicación: {{user.comuna}}
                        </p>
                        {% for p in profesion %}
                        <p class="card-text">Titulado en: {{p.institucion}} <br>Profesion: {{p.profesion}} <br>Años de
                            experiencia: {{ anios_pasados }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="dropdown">
                    <div class="dots" onclick="toggleDropdown()"></div>
                    <div class="dropdown-content" id="dropdownContent">
                        <a href="../../IniciarSesion/editarPerfil" target="_blank" rel="noopener noreferrer">Editar
                            Perfil</a>
                        <a href="{% url 'change_password' %}" target="_blank" rel="noopener noreferrer">Cambiar
                            contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group-container">
    <div class="btn-group mt-3" role="group" aria-label="Basic example">
        <a href="../../../Perfil/Perfil/" class="btn btn-primary">Mis publicaciones</a>
        <a href="../../Clases/Solicitudes/" class="btn btn-primary">Mis solicitudes</a>
    </div>
    <div class="btn-group mt-3" role="group" aria-label="Basic example">
        <a href="../../../Publicacion/AgregarPublicacion/" class="btn btn-primary">Publicar</a>
    </div>
</div>
<!--  -->
{% if solicitudes %}
<div class="container">
    <div class="row">
        {% for s in solicitudes %}
        <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <div class="card card-body h-100">
                <b class="card-text">{{ s.estadoSolicitud }}</b>
                <p>{{ s.fecha }}</p>
                <a href="../../../Clases/EliminarSolicitud/{{ s.id }}"
                    onclick="return confirm('¿Estás seguro de cancelar esta solicitud?');">Cancelar solicitud</a>
                <p class="card-text">Tutor: {{s.idProfesor.first_name}} {{s.idProfesor.last_name}}</p>
                <p class="card-text">
                    <b>Clase solicitada:</b> </b> <br>
                    fecha y hora: {{s.idClase.fecha}},{{s.idClase.hora}}<br>
                    Carrera: {{s.idClase.idAsignatura.idCarrera.nombreCarrera}} <br>
                    Asignatura: {{s.idClase.idAsignatura.nombreAsignatura}}<br>
                    Modalidad: {{s.idClase.modalidad}}<br>
                    Tarifa: {{s.idClase.tarifa}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
</div>
<div class="alert alert-secondary mt-4" role="alert">
    <strong>No hay solicitudes</strong>
</div>
{% endif %}
{% endif %}
{% endblock content %}