{% extends "../HomeTemplates/Base.html" %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="card card-body">
            <div class="card card-body">
                <div class="card-content">
                    <img class="img-size-clases" style="width: 50px; height: 50px;" src="../../static/images/user.svg"
                        alt="">
                    <div class="info">
                        <p class="card-text">
                            Nombre: {{user.first_name}} {{ user.last_name }} <br>
                            Ubicación: {{user.comuna}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
{% if publicaciones %}
<div class="container">
    <div class="row">
        {% for publicacion in publicaciones %}
        <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <div class="card card-body d-flex flex-column">
                <b class="card-text text-center">{{publicacion.titulo}}</b>
                <p class="card-text">Asignatura: {{publicacion.idAsignatura.nombreAsignatura}}<br>
                    Región: {{user.region}}<br>Comuna: {{ user.comuna }}</p>
                <div class="mb-2 d-flex flex-grow-1">
                    <textarea class="form-control ms-2" style="min-height: 100%;"
                        readonly>{{publicacion.descripcionPublicacion}}</textarea>
                </div>
                {% if current_user.tipoDeUsuario == "Tutor" %}
                        <a href="../../../Publicacion/Responder/{{ publicacion.idEstudiante.username }}" onclick="openWindowCentered(this.href, 'Enviar Correo', 700, 850); return false;" class="btn btn-primary">Enviar Correo</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
</div>
<div class="alert alert-primary" role="alert">
    <strong>No hay publicaciones</strong>
</div>
{% endif %}
{% endblock content %}
